<!--<!DOCTYPE html>-->

<!--<head>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--<script src="https://www.paypalobjects.com/api/checkout.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--<div id="paypal-button-container"></div>-->
<!--<form action="http://localhost:8080/payment/create/" method="post">-->
    <!--<input type="text" name="total" id="total">-->
    <!--&lt;!&ndash; Display the payment button. &ndash;&gt;-->
    <!--<input type="image" name="submit" border="0"-->
           <!--src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png"-->
           <!--alt="Buy Now">-->
    <!--<img alt="" border="0" width="1" height="1"-->
         <!--src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >-->

<!--</form>-->
<!--</body>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Spring Social Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Spring Social Login</a>
        </div>
        <p class="navbar-text navbar-right">
            <span sec:authentication="name">Username</span> &nbsp; &nbsp; &nbsp;
            <a th:href="@{/logout}">Logout</a>&nbsp; &nbsp; &nbsp;
        </p>
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <h1 class="col-sm-12">Welcome, <span sec:authentication="name">Username</span></h1>
    <p class="col-sm-12 text-muted" sec:authentication="authorities">User authorities</p>
</div>
</body>
</html>